<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../../../resources/vendor/css/bootstrap.min.css" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../../resources/vendor/css/bootstrap-theme.min.css" th:href="@{/resources/vendor/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" href="../../../resources/css/identifly.css" th:href="@{/resources/css/identifly.css}"/>
	
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
  	<ul class="nav stick">
 		<li class="active"><a href="#">Dashboard Menu</a></li>
 	</ul>
	<div class="container-fluid">
		<div class="row">
	     	<div class="col-sm-3 col-md-2 sidebar">

	          <ul class="nav nav-sidebar">
	            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
	            <li><a href="">Reports</a></li>
	            <li><a href="">Analytics</a></li>
	            <li><a href="">Export</a></li>
	          </ul>
	          <ul class="nav nav-sidebar">
	            <li><a href="">Nav item</a></li>
	            <li><a href="">Nav item again</a></li>
	            <li><a href="">One more nav</a></li>
	            <li><a href="">Another nav item</a></li>
	            <li><a href="">More navigation</a></li>
	          </ul>
	          <ul class="nav nav-sidebar">
	            <li><a href="">Nav item again</a></li>
	            <li><a href="">One more nav</a></li>
	            <li><a href="">Another nav item</a></li>
	          </ul>

	        </div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div  th:replace="${view} :: content"></div>
		</div>
		
	</div>
	
	<script src="../../../resources/vendor/js/jquery-1.12.0.min.js" th:src="@{/resources/vendor/js/jquery-1.12.0.min.js}"></script>
	<script src="../../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/identifly.js" th:src="@{/resources/js/identifly.js}"></script>
</body>
</html>