<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../../../resources/vendor/css/bootstrap.min.css" th:href="@{/resources/vendor/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../../resources/vendor/css/bootstrap-theme.min.css" th:href="@{/resources/vendor/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" href="../../../resources/css/identifly.css" th:href="@{/resources/css/identifly-login.css}"/>
	
</head>
<body>
	<div  th:replace="${view} :: content"></div>
	<script src="../../../resources/vendor/js/jquery-1.12.0.min.js" th:src="@{/resources/vendor/js/jquery-1.12.0.min.js}"></script>
	<script src="../../../resources/vendor/js/bootstrap.min.js" th:src="@{/resources/vendor/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/identifly.js" th:src="@{/resources/js/identifly.js}"></script>
</body>
</html>