<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="../../../resources/vendor/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="../../../resources/vendor/css/bootstrap-theme.min.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a id="title" class="navbar-brand" href="#">Identifly</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#" th:href="@{/logout}">Logout <span class="glyphicon glyphicon-log-out"></span> </a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search..." />
				</form>
			</div>
		</div>
	</nav>

	<script src="../../../resources/vendor/js/jquery-1.12.0.min.js"></script>
	<script src="../../../resources/vendor/js/bootstrap.min.js"></script>
	<script src="../../../resources/js/identifly.js"></script>
</body>
</html>