body{
	background-color: #34495e;
}


.container{
	width: 100%;
	margin-top: 50px;
	background-color: white;
	padding: 20px;
}

#btn-login{
	width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 600s ease-in-out 0s;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.container{
		width: 400px;
		margin-top: 50px;
		background-color: white;
		padding: 20px;
		border-radius: 10px;
	}

}